<div id="container">
	<div id="console">
		<input type="text" id="console_text">
	</div>
</div>

<script src="public/js/THREEx.KeyboardState.js"></script>
<script src="public/js/THREEx.WindowResize.js"></script>
<script src="public/js/bundle.js"></script>