<div id="container">
	<div id="console">
		<input type="text" id="console_text">
	</div>
</div>
		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="public/js/three.min.js"></script>
<script src="public/js/THREEx.WindowResize.js"></script>
<script src="public/js/THREEx.KeyboardState.js"></script>
<script src="public/js/klass.js"></script>
<script src="public/js/perlin.js"></script>
<script src="public/js/lodash.js"></script>

<script src="public/src/kestrel.js"></script>
<script src="public/src/command.js"></script>
<script src="public/src/console.js"></script>
<script src="public/src/component.js"></script>
<script src="public/src/control.js"></script>
<script src="public/src/material.js"></script>
<script src="public/src/entityrunner.js"></script>
<script src="public/src/mathutils.js"></script>
<script src="public/src/entity.js"></script>
<script src="public/src/physics.js"></script>
<script src="public/src/debug.js"></script>
<script src="public/src/game.js"></script>
<script src="public/src/arrayextensions.js"></script>
<script src="public/src/jqueryEx.js"></script>
<script src="public/src/textureloader.js"></script>

<script src="public/src/components/rendercomponent.js"></script>
<script src="public/src/components/shipcontroller.js"></script>
<script src="public/src/components/transformcomponent.js"></script>

<script src="public/src/commands/addcommand.js"></script>
<script src="public/src/commands/attackcommand.js"></script>
<script src="public/src/commands/listcommand.js"></script>
<script src="public/src/commands/destroycommand.js"></script>
<script src="public/src/commands/movecommand.js"></script>
<script src="public/src/commands/orbitcommand.js"></script>
<script src="public/src/commands/selectcommand.js"></script>
<script src="public/src/commands/aligncommand.js"></script>
<script src="public/src/commands/stopcommand.js"></script>

<script src="public/src/entities/ship.js"></script>
<script src="public/src/entities/star.js"></script>
<script src="public/src/entities/beam.js"></script>
<script src="public/src/entities/pointsprite.js"></script>
<script src="public/src/entities/block.js"></script>

<script src="public/src/main.js"></script>
