<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Kestrel</title>
		<link rel="stylesheet" type="text/css" href="static/css/site.css">
	</head>
	<body>
		<div id="container">
			<div id="console">
				<input type="text" id="console_text">
			</div>
		</div>
		<!-- <div id="console" style:"display: none;"> -->
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="static/js/three.min.js"></script>
	<script src="static/js/THREEx.WindowResize.js"></script>
	<script src="static/js/THREEx.KeyboardState.js"></script>
	<script src="static/js/klass.js"></script>
	<script src="static/js/perlin.js"></script>

	<script src="static/src/command.js"></script>
	<script src="static/src/console.js"></script>
	<script src="static/src/component.js"></script>
	<script src="static/src/control.js"></script>
	<script src="static/src/material.js"></script>
	<script src="static/src/entityrunner.js"></script>
	<script src="static/src/mathutils.js"></script>
	<script src="static/src/entity.js"></script>
	<script src="static/src/physics.js"></script>
	<script src="static/src/debug.js"></script>
	<script src="static/src/game.js"></script>
	<script src="static/src/arrayextensions.js"></script>
	<script src="static/src/jqueryEx.js"></script>

	<script src="static/src/components/rendercomponent.js"></script>
	<script src="static/src/components/shipcontroller.js"></script>
	<script src="static/src/components/transformcomponent.js"></script>

	<script src="static/src/commands/addcommand.js"></script>
	<script src="static/src/commands/attackcommand.js"></script>
	<script src="static/src/commands/listcommand.js"></script>
	<script src="static/src/commands/destroycommand.js"></script>
	<script src="static/src/commands/movecommand.js"></script>
	<script src="static/src/commands/orbitcommand.js"></script>
	<script src="static/src/commands/selectcommand.js"></script>

	<script src="static/src/entities/ship.js"></script>
	<script src="static/src/entities/star.js"></script>
	<script src="static/src/entities/beam.js"></script>
	<script src="static/src/entities/pointsprite.js"></script>
	<script src="static/src/entities/bullet.js"></script>
	<script src="static/src/entities/target.js"></script>

	<script src="static/src/main.js"></script>

</html>
