<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Kestrel</title>
		<link rel="stylesheet" type="text/css" href="static/css/site.css">
	</head>
	<body>
		{{> kestrel}}
	</body>
</html>
